<p id="notice"><%= notice %></p>

<p>
  <strong>Quantitat:</strong>
  <%= @pago.quantitat %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pago.fecha %>
</p>

<p>
  <strong>Pagador:</strong>
  <%= @pago.pagador_id %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @pago.expense_id %>
</p>

<%= link_to 'Edit', edit_pago_path(@pago) %> |
<%= link_to 'Back', pagos_path %>
