<p id="notice"><%= notice %></p>
<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="text-center">Tasks</h1>
    <%= link_to 'Nova tasca', new_task_path, class:"btn btn-success text-white" %>
  </div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Data limit</th>
      <th>Oportunitat d'inversió</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to "#{task.nom}", edit_task_path(task), class:"link" %></td>
        <td><%= task.data_limit %></td>
        <td><%= task.investment.poblacion%>-<%= task.investment.direccion%></td>
        <td><%= link_to 'x', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
