<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @budget.nom %>
</p>

<p>
  <strong>Quantitat:</strong>
  <%= @budget.quantitat %>
</p>

<p>
  <strong>Project:</strong>
  <%= @budget.project_id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @budget.provider_id %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
