<p id="notice"><%= notice %></p>

<h1>Cobros</h1>

<table>
  <thead>
    <tr>
      <th>Quantitat</th>
      <th>Fecha</th>
      <th>Comprador</th>
      <th>Sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cobros.each do |cobro| %>
      <tr>
        <td><%= cobro.quantitat %></td>
        <td><%= cobro.fecha %></td>
        <td><%= cobro.comprador_id %></td>
        <td><%= cobro.sale_id %></td>
        <td><%= link_to 'Show', cobro %></td>
        <td><%= link_to 'Edit', edit_cobro_path(cobro) %></td>
        <td><%= link_to 'Destroy', cobro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cobro', new_cobro_path %>
