<p id="notice"><%= notice %></p>

<p>
  <strong>Quantitat:</strong>
  <%= @cobro.quantitat %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cobro.fecha %>
</p>

<p>
  <strong>Comprador:</strong>
  <%= @cobro.comprador_id %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @cobro.sale_id %>
</p>

<%= link_to 'Edit', edit_cobro_path(@cobro) %> |
<%= link_to 'Back', cobros_path %>
