<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @expense.nom %>
</p>

<p>
  <strong>Quantitat:</strong>
  <%= @expense.quantitat %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @expense.fecha %>
</p>

<p>
  <strong>Project:</strong>
  <%= @expense.project_id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @expense.provider_id %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
