<p id="notice"><%= notice %></p>
<div class="container">
    <div class="d-flex justify-content-between">
      <h1><%= @sale.descripcio %></h1>
      <%= link_to 'Edit', edit_sale_path(@sale), :class => "btn btn-success text-white" %>
    </div>
    <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Descirpción</th>
        <th scope="col">€</th>
        <th scope="col">Fecha</th>
        <th scope="col">Inversión</th>
        <th scope="col">Documento</th>
        <th scope="col">% Cobrado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @sale.descripcio %></td>
        <td><%= @sale.quantitat %></td>
        <td><%= @sale.fecha %></td>
        <td><%= @sale.investment.poblacion%>-<%= @sale.investment.direccion%></td>
        <%if @sale.document.attached? %>
          <td><%= link_to("Doc", cl_image_path("#{@sale.document.key}")) %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <td><%= @sale.x_cobrado.to_i %>%</td>
      <tr>
    </tbody>
  </table>

  <%# ver los cobros %>
  <br>
  <br>
  <div class="container">
    <div class="d-flex justify-content-between">
      <h2 style= "color: gray;"> - Cobros</h2>
      <%= link_to '+', new_cobro_path, :class => "btn btn-success text-white" %>
    </div>
    <%@sale.cobros.each do |cobro| %>
      <table class="table table-dark table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">€</th>
            <th scope="col">Comprador</th>
            <th scope="col">Contacto</th>
            <th scope="col">Mail</th>
            <th scope="col">Identidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to "#{cobro.fecha}", edit_cobro_path(cobro) %></td>
            <td><%= cobro.quantitat %></td>
            <td><%= link_to "#{cobro.comprador.nombre}", edit_comprador_path(cobro.comprador) %></td>
            <td><%= cobro.comprador.contacto%></td>
            <td><%= cobro.comprador.mail %></td>
            <%if cobro.comprador.document.attached? %>
              <td><%= link_to("Doc", cl_image_path("#{cobro.comprador.document.key}")) %></td>
            <% else %>
              <td>-</td>
            <% end %>
          <tr>
        </tbody>
      </table>
    </div>
  <% end %>

</div>
