<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcio:</strong>
  <%= @sale.descripcio %>
</p>

<p>
  <strong>Quantitat:</strong>
  <%= @sale.quantitat %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @sale.fecha %>
</p>

<p>
  <strong>Investment:</strong>
  <%= @sale.investment_id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
